// Custom styles.
body {
    //background:url(https://source.unsplash.com/random/1600x900);
    background:url(/images/starry-sky-over-lake.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size:cover;
}

